<% include ../partials/header %>

<div class="container">
    <h1 style="text-align:center;">Create a New Campground</h1>

    <form action="/campgrounds" method="POST">
        <div class="form-group w-50 m-auto py-5">
            <input type="text" placeholder="name" name="name" class="form-control">
            <input type="text" placeholder="image url" name="image" class="form-control mt-5">
            <input type="text" placeholder="description" name="description" class="form-control mt-5">
            <button class="btn btn-success btn-block mt-5">Submit</button>
        </div>
    </form>
</div> 

<% include ../partials/footer %>